@{
	ViewData["page"] = "new-bracket";

}

@section Actions {
	<div class="actions"><button class="save" v-on:click="save">Save</button></div>
}
<div class="page-container">
	<div><label>Name</label><br/><input type="text" autocomplete="off" name="bracket-name" v-model="bracket.name" /></div>
	<div><label>Opponents ({{bracket.opponents.length}} opponents, {{totalRounds}} rounds)</label> <i>one per line</i></div>
	<textarea autocomplete="off" v-model="teamsText" rows="15"></textarea>
</div>
@section Scripts {
	<script type="text/javascript">
		window.page = {
			model: {
				username:'@(Html.Raw(User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value?.ToJavascript()))',
				name: '@(Html.Raw(User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value?.ToJavascript()))',
				bracket: {
					name: '',
					opponents: []
				}
			}
		};
	</script>
	<script src="~/js/page.bracket.new.js" asp-append-version="true"></script>
}