@{
	ViewData["Title"] = "Login";
	ViewData["page"] = "login";
	var redirect = Context.Request.Query["RedirectUri"];
	if (string.IsNullOrWhiteSpace(redirect)) redirect = "/";

}

<div class="login" v-cloak>
	<div class="container">
		<img class="cass" src="/img/Cass-optimized.800.png" />
		<img v-if="mouth" class="cassmouth" src="/img/mouth.png" />
		<div class="form">
			<div><input id="yourname" v-if="create" v-on:keydown="mouth=true" v-on:keyup="mouth=false" type="text" placeholder="Your Name" v-on:keyup.enter="trysubmit" v-model="name" /></div>
			<div><input id="username" type="text" v-on:keydown="mouth=true" v-on:keyup="mouth=false" placeholder="Your Email" v-on:keyup.enter="trysubmit" v-model="username" /></div>
			<div><input id="password" type="password" v-on:keydown="mouth=true" v-on:keyup="mouth=false" v-on:keyup.enter="trysubmit" placeholder="Your Password" v-model="password" /></div>
			<button class="submit" :disabled="!isValid" v-on:click="trysubmit">{{submitText}}</button>
			<div class="remember"><label for="rememberMe">Remember Me</label><input id="rememberMe" type="checkbox" v-model="rememberMe"/></div>
			<div v-if="error"><span class="error">{{error}}</span></div>
			<div class="action">
				<div class="link" v-on:click="toggleCreate">{{create?'Sign in':' Register'}}</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		window.page = {
			model: {
				username:'',
				password:'',
				rememberMe:true,
				name: '',
				create: false,
				redirect: '@(redirect)'
			}
		};
	</script>
	<script src="~/js/page.login.js" asp-append-version="true"></script>
}