/* blue */
/* teal */
/* green */
/* orange */
/* red */
/* COLORS */
body {
  margin: 0;
  padding: 0;
  font: normal 100% arial;
}
[v-cloak] {
  display: none;
}
@keyframes login-color {
  to {
    text-shadow: 0px 0px 4px #fffed8;
  }
}
.switch {
  margin: 3px 0px 3px 0px;
  display: flex;
  justify-content: flex-start;
  /*position:absolute; right:0px; }*/
}
.switch input {
  display: none;
}
.switch label {
  margin-right: 5px;
  user-select: none;
}
.switch label.on {
  padding: 0px 0.374em 0px 0px;
  margin: 0;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch label.on:hover {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch label.off {
  padding: 0px 0px 0px 0.6em;
  margin: 0;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch label.off:hover {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch-knob {
  position: relative;
  display: inline-block;
  min-width: 1.95em;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 0em 0em 0.05em 0px;
  padding: 0 0 0.69em 0.4em;
  outline: none;
}
.switch-knob:before {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  left: 1px;
  width: 1.95em;
  height: 0.68em;
  border-radius: 0.35em;
}
.switch-knob:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
  box-sizing: border-box;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.099), 0 2px 2px 0 rgba(0, 0, 0, 0.088), 0 1px 5px 0 rgba(0, 0, 0, 0.074);
}
.switch input:checked ~ .switch-knob:after {
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.switch input:checked ~ label.on {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch input:checked ~ label.on:hover {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch input:checked ~ label.off {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch input:checked ~ label.off:hover {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.switch.reverse label.on {
  padding: 0px 0px 0px 0.6em;
}
.switch.reverse label.off {
  padding: 0px 0.374em 0px 0px;
}
.switch.reverse .switch-knob:after {
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.switch.reverse input:checked ~ .switch-knob:after {
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch.readonly {
  cursor: default!important;
  user-select: none;
  pointer-events: none;
}
.switch.readonly label.on:hover {
  cursor: default;
}
.switch.readonly label.off:hover {
  cursor: default;
}
.switch.readonly .switch-knob {
  cursor: default!important;
}
.switch.readonly .switch-knob:before {
  cursor: default;
}
.switch.readonly .switch-knob:after {
  cursor: default;
}
.switch.readonly .switch-knob:hover:after {
  cursor: default;
}
.switch.readonly input:checked ~ .switch-knob {
  cursor: default!important;
}
.switch.readonly input:checked ~ .switch-knob:before {
  cursor: default;
}
.switch.readonly input:checked ~ .switch-knob:after {
  cursor: default;
}
.switch.readonly input:checked ~ .switch-knob:hover:after {
  cursor: default;
}
.switch.readonly input:checked ~ label.on:hover {
  cursor: default;
}
.switch.readonly input:checked ~ label.off:hover {
  cursor: default;
}
.switch.disabled {
  cursor: default;
}
.switch.disabled label.on:hover {
  cursor: default;
}
.switch.disabled label.off:hover {
  cursor: default;
}
.switch.disabled .switch-knob {
  cursor: default;
}
.switch.disabled .switch-knob:hover:after {
  cursor: default;
}
.switch.disabled input:checked ~ label.on:hover {
  cursor: default;
}
.switch.disabled input:checked ~ label.off:hover {
  cursor: default;
}
.switch.expanded {
  position: relative;
}
.switch.expanded .switch-container {
  float: right;
}
* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a dd {
  font-size: 0.8em;
}
dd {
  margin: 0;
  padding: 3px 15px;
}
dl {
  margin: 0;
  padding: 0;
}
button {
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
}
button:not([disabled]) {
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin-top: 4px;
  border-radius: 4px;
  padding: 3px 4px;
}
textarea {
  resize: vertical;
}
html {
  /*darken(@switch-color-left-slider,8%);*/
  /*darken(@switch-color-right-slider,8%);*/
  /*darken(@switch-color-left-knob,20%);*/
  /*darken(@switch-color-left-knob,40%);*/
  /*darken(@switch-color-left-knob,60%);*/
  /*darken(@switch-color-right-knob,20%);*/
  /*darken(@switch-color-right-knob,40%);*/
  /*darken(@switch-color-right-knob,60%);*/
}
html .switch label {
  color: #ffe033;
}
html .switch label.on {
  color: #ffe033;
}
html .switch label.on:hover {
  color: #665600;
}
html .switch label.off {
  color: #ffd800;
}
html .switch label.off:hover {
  color: #665600;
}
html .switch-knob:before {
  border: 1px solid #bf8827;
  background-color: #bf8827;
}
html .switch-knob:after {
  border: 1px solid #bf8827;
  background-color: #271a06;
}
html .switch-knob:hover:after {
  border: 1px solid #998200;
}
html .switch-knob:focus:after {
  border: 2px solid #998200;
}
html .switch input:checked ~ .switch-knob:before {
  background-color: #bf8827;
  border: 1px solid #bf8827;
}
html .switch input:checked ~ .switch-knob:after {
  background-color: #271a06;
  border: 1px solid #bf8827;
}
html .switch input:checked ~ .switch-knob:hover:after {
  border: 1px solid #998200;
}
html .switch input:checked ~ .switch-knob:focus:after {
  border: 2px solid #998200;
}
html .switch input:checked ~ label.on {
  color: #ffd800;
}
html .switch input:checked ~ label.on:hover {
  color: #665600;
}
html .switch input:checked ~ label.off {
  color: #ffe033;
}
html .switch input:checked ~ label.off:hover {
  color: #665600;
}
html .switch.yellow-knob .switch-knob:after {
  background-color: #ffff00;
}
html .switch.green label.on {
  color: #ffe033;
}
html .switch.green label.on:hover {
  color: #4CAF50;
}
html .switch.green input:checked ~ .switch-knob:before {
  background-color: #A5D6A7;
  border: 1px solid #89c98c;
}
html .switch.green input:checked ~ .switch-knob:after {
  background-color: #4CAF50;
  border: 1px solid #409343;
}
html .switch.green input:checked ~ .switch-knob:hover:after {
  border: 1px solid #2d682f;
}
html .switch.green input:checked ~ .switch-knob:focus:after {
  border: 2px solid #39843c;
}
html .switch.green input:checked ~ label.on {
  color: #4CAF50;
}
html .switch.green input:checked ~ label.on:hover {
  color: #4CAF50;
}
html .switch.red label.off {
  color: #af4c4c;
}
html .switch.red label.off:hover {
  color: #873b3b;
}
html .switch.red .switch-knob:before {
  background-color: #d6a5a5;
  border: 1px solid #c98989;
}
html .switch.red .switch-knob:after {
  background-color: #af4c4c;
  border: 1px solid #934040;
}
html .switch.red .switch-knob:hover:after {
  border: 1px solid #682d2d;
}
html .switch.red .switch-knob:focus:after {
  border: 2px solid #843939;
}
html .switch.red input:checked ~ label.off {
  color: #ffe033;
}
html .switch.red input:checked ~ label.off:hover {
  color: #873b3b;
}
html .switch.readonly label {
  color: #ffe033;
}
html .switch.readonly label.on {
  color: #e2ddd4;
}
html .switch.readonly label.on:hover {
  color: #e2ddd4;
}
html .switch.readonly label.off:hover {
  color: #ffe033;
}
html .switch.readonly .switch-knob:before {
  background-color: #e2ddd4;
  border: #bf8827;
}
html .switch.readonly .switch-knob:after {
  background-color: #271a06;
  border: 1px solid #bf8827;
}
html .switch.readonly .switch-knob:hover:after {
  background-color: #e2ddd4;
  border-color: #271a06;
}
html .switch.readonly input:checked ~ .switch-knob:before {
  background-color: #e2ddd4;
  border: #bf8827;
}
html .switch.readonly input:checked ~ .switch-knob:after {
  background-color: #271a06;
  border-color: 1px solid #bf8827;
}
html .switch.readonly input:checked ~ .switch-knob:hover:after {
  border: 1px solid #bf8827;
}
html .switch.readonly input:checked ~ label.on:hover {
  color: #ffd800;
}
html .switch.readonly input:checked ~ label.off {
  color: #e2ddd4;
}
html .switch.readonly input:checked ~ label.off:hover {
  color: #e2ddd4;
}
html .switch.disabled label {
  color: #e2ddd4;
}
html .switch.disabled label.on {
  color: #e2ddd4;
}
html .switch.disabled label.on:hover {
  color: #e2ddd4;
}
html .switch.disabled label.off {
  color: #e2ddd4;
}
html .switch.disabled label.off:hover {
  color: #e2ddd4;
}
html .switch.disabled .switch-knob:before {
  background-color: #e2ddd4;
  border: #bf8827;
}
html .switch.disabled .switch-knob:after {
  background-color: #e2ddd4;
  border: #271a06;
}
html .switch.disabled .switch-knob:hover:after {
  border: #271a06;
}
html .switch.disabled input:checked ~ .switch-knob:before {
  background-color: #e2ddd4;
  border: #bf8827;
}
html .switch.disabled input:checked ~ .switch-knob:after {
  background-color: #e2ddd4;
  border: #271a06;
}
html .switch.disabled input:checked ~ .switch-knob:hover:after {
  border: #271a06;
}
html .switch.disabled input:checked ~ label.on {
  color: #e2ddd4;
}
html .switch.disabled input:checked ~ label.on:hover {
  color: #e2ddd4;
}
html .switch.disabled input:checked ~ label.off {
  color: #e2ddd4;
}
html .switch.disabled input:checked ~ label.off:hover {
  color: #e2ddd4;
}
html a {
  color: #ffd800;
}
html a:hover {
  text-decoration: underline;
}
html a:visited {
  color: #ffd800;
}
html a dd {
  color: #8f600e;
}
html button {
  transition: all linear 0.1s;
  background: #cfa04e;
  color: #654307;
  border: 2px solid #8d6623;
}
html button:hover {
  background: #e6ba6d;
  color: #3d2803;
  border: 2px solid #cfa04e;
}
html button[disabled] {
  background: #3d2803;
  color: #564a36;
  border: 2px solid #4f310c;
}
html input[type=text],
html input[type=password],
html textarea {
  background: transparent;
  color: #ffd800;
  border: 2px solid #bf8827;
}
html input[type=text]:focus,
html input[type=password]:focus,
html textarea:focus {
  border: 2px solid #ebc854;
  outline: none;
}
html body {
  background: linear-gradient(to right, #000000 0%, #271a06 calc(50% - 10vw), #271a06 calc(50% - 10vw), #271a06 calc(50% + 10vw), #271a06 calc(50% + 10vw), #000000 100%);
  color: #ffd800;
}
html .page-login {
  background: linear-gradient(to right, #000000 0%, #271a06 calc(50% - 200px), #271a06 calc(50% - 200px), #271a06 calc(50% + 200px), #271a06 calc(50% + 200px), #000000 100%);
}
html .page-login .link {
  cursor: pointer;
  text-decoration: underline;
}
html .page-login button {
  margin-top: 10px;
  padding: 2px 8px;
  font-size: 1.4em;
  cursor: pointer;
}
html .page-login button[disabled] {
  cursor: default;
}
html .login {
  justify-content: center;
  align-items: center;
  width: 375px;
  margin: 0px auto;
  display: flex;
  min-height: 100vh;
  color: #fff;
}
html .login .container {
  background: url(../img/border-bottom.800.png) no-repeat bottom left, url(../img/bracketology-background.800.jpg) no-repeat top left;
  background-size: 375px;
  width: 375px;
  position: relative;
  max-height: 744px;
  height: 99vh;
  min-height: 640px;
}
html .login .cass {
  position: absolute;
  bottom: -3px;
  width: 375px;
  left: 0px;
  z-index: 1;
}
html .login .cassmouth {
  position: absolute;
  bottom: 203px;
  width: 46px;
  z-index: 2;
  left: 165px;
}
html .login .form {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 744px;
  height: 99vh;
  min-height: 640px;
  padding-top: 170px;
}
html .login .form label,
html .login .form button,
html .login .form input {
  font-size: 1.1em;
  margin-top: 4px;
}
html .login .form input[type=checkbox] {
  margin-left: 10px;
}
html .login .form input[type=text],
html .login .form input[type=password] {
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #271a06;
}
html .login .form button.submit {
  margin: 0;
  margin-left: -5px;
  position: absolute;
  bottom: 70px;
  font-size: 2em;
  border: 0;
  height: 108px;
  width: 110px;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  font-size: 26px;
  transition: color ease-in 0.05s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  text-shadow: 0px 0px 2px #ffe659;
  user-select: none;
  animation-name: login-color;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}
html .login .form button.submit:hover,
html .login .form button.submit:active {
  color: #ffd800;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  /*transition: all ease-in 0.2s;*/
  animation: none;
}
html .login .form button.submit[disabled] {
  cursor: default;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 4px 4px transparent;
  animation: none;
}
html .login .form .action {
  position: absolute;
  right: 22px;
  bottom: 15px;
}
html .login .form .remember {
  margin-top: 6px;
  color: #e6ba6d;
}
html .login .form .remember label,
html .login .form .remember input {
  cursor: pointer;
}
html .login .form .remember label {
  user-select: none;
  text-shadow: 2px 2px 2px #000;
}
html .login .form .action .link {
  text-decoration: none;
  user-select: none;
  color: #e6ba6d;
  text-shadow: 2px 2px 2px #000;
}
html .login .form .action .link:hover {
  text-decoration: underline;
}
html .login .form .error {
  display: block;
  width: 100%;
  padding: 20px 5px 10px 5px;
  text-align: left;
  font-weight: normal;
  font-size: 1.25em;
}
html nav a,
html nav a:visited,
html nav a:active {
  display: inline-block;
  margin: 2px 4px;
  color: #e6ba6d;
  text-decoration: none;
}
html nav a:hover,
html nav a:visited:hover,
html nav a:active:hover {
  text-decoration: underline;
}
html nav.main {
  margin: 0;
  padding: 0px;
  color: #ffd800;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html nav.main .account {
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html nav.main .places {
  padding: 8px 0px;
  display: flex;
  justify-content: center;
}
html nav.actions {
  margin-bottom: 10px;
}
html nav.actions button {
  padding: 4px 8px;
  cursor: pointer;
}
html .page-new-bracket .form {
  width: 100%;
}
html .page-new-bracket textarea.title {
  border: 0px!important;
  border-bottom: 2px solid #bf8827 !important;
  border-radius: 0;
  resize: none;
  font-size: 1.6em;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
}
html .page-new-bracket textarea.description {
  margin: 5px 0px;
  border: 0px!important;
  border-bottom: 2px solid #bf8827 !important;
  border-bottom-width: 0px!important;
  border-radius: 0;
  font-size: 0.8em;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
}
html .page-new-bracket i.directions {
  font-size: 0.7em;
  display: inline-block;
  margin-left: 10px;
  color: #8f600e;
}
html .page-new-bracket div.directions {
  margin-top: 10px;
}
html .page-new-bracket .preview-round {
  margin-top: 10px;
  text-align: center;
  font-size: 1.6em;
}
html .page-new-bracket textarea.opponents {
  text-align: left;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  min-height: 75px;
}
html .page-new-bracket .actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 10px;
}
html .page-new-bracket .round-matches .error {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #d9534f;
}
html .page-new-bracket .round-matches .match {
  margin-top: 10px;
}
html .page-new-bracket .round-matches .opponents {
  padding-left: 10px;
}
html h1 {
  color: #bf8827;
  text-align: center;
  width: 390px;
  margin: 10px auto 4px auto;
  border-bottom: 3px solid #422d07;
  margin-top: 0px;
  font-size: 1.5em;
}
html .my-brackets {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin: 10px auto;
}
html .page-container {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
html .page-vote .match {
  width: 100%;
  text-align: left;
}
html .page-vote .match h2 {
  margin-bottom: 5px;
  font-size: 1.2em;
}
html .page-vote .match .opponents {
  padding-left: 10px;
}
html .page-vote .match .opponent {
  cursor: pointer;
}
html .page-vote .match .opponent.selected {
  color: #428bca;
}
html .page-vote .btn-cast {
  margin-top: 40px;
}
html .section {
  max-width: 370px;
  margin: 30px auto 0px auto;
}
html .section p {
  font-size: 0.8em;
  text-align: center;
  margin-top: 3px;
  color: #8f600e;
}
html .section a {
  text-decoration: none;
}
html .account-data button {
  margin-top: 40px;
}
html .account-data input {
  text-align: center;
  font-size: 1.1em;
  margin-top: 4px;
  border-radius: 4px;
  padding: 3px 4px;
}
html .account-data label {
  margin-top: 20px;
}
html .account-data .success {
  font-size: 1.3em;
  margin-top: 40px;
  font-weight: bold;
  color: #a70d0d;
  text-align: center;
}
html footer {
  display: block;
  margin: 0px;
  padding: 0px;
}
html footer img.cass {
  margin: 60px auto 0px auto;
  transform: translateY(20px);
  width: 375px;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 776px) {
  html .login .container {
    flex-direction: column;
  }
}