/* blue */
/* teal */
/* green */
/* orange */
/* red */
/* COLORS */
body {
  margin: 0;
  padding: 0;
  font: normal 100% arial;
}
[v-cloak] {
  display: none;
}
html body {
  background-color: #ffffff;
  color: black;
}
html .link {
  cursor: pointer;
  text-decoration: underline;
}
html input {
  margin: 3px 5px;
}
html label {
  display: inline-block;
  text-align: right;
}
html button {
  margin-top: 10px;
  padding: 2px 8px;
  font-size: 1.4em;
  cursor: pointer;
}
html.dark {
  /* COLORS */
}
html.dark body {
  background-color: #ffffff;
  color: black;
}
html.dark .link {
  cursor: pointer;
  text-decoration: underline;
}
html.dark input {
  margin: 3px 5px;
}
html.dark label {
  display: inline-block;
  text-align: right;
}
html.dark button {
  margin-top: 10px;
  padding: 2px 8px;
  font-size: 1.4em;
  cursor: pointer;
}