@import (reference) "common.less";

/* COLORS */
@text-black: black;
@text-white: white;
@text-color-dark: #e6ba6d;
@text-color: #ffd800;
@text-color-light: #8f600e;

@text-required: #ffd800;
@text-error: #db4242;
@text-link: #ffd800;


@theme-page-background-color: #271a06;
@theme-page-section-background-color: #271a06;
@theme-page-section-border-color: #bf8827;
@theme-page-section-color-soft: @text-color-light;
@theme-page-section-color-soft-hover: darken(#8f600e, 20%);
@theme-page-section-color-medium-soft: darken(@theme-page-section-color, 20%);
@theme-page-section-color-medium-soft-hover: darken(@theme-page-section-color, 10%);
@theme-page-section-color: @text-color;
@theme-page-section-color-hover: darken(@theme-page-section-color, 30%);
@theme-page-section-color-medium-hard: lighten(@theme-page-section-color, 10%);
@theme-page-section-color-medium-hard-hover: lighten(@theme-page-section-color, 20%);
@theme-page-section-color-hard: @text-color-dark;
@theme-page-section-color-hard-hover: lighten(@theme-page-section-color-hard, 10%);
@theme-page-section-color-disabled:  #e2ddd4;

@button-background: #cfa04e;
@button-background-hover: #e6ba6d;
@button-background-disabled: #3d2803;
@button-color: #654307;
@button-color-hover: #3d2803;
@button-color-disabled: #564a36;
@button-border: 2px solid #8d6623;
@button-border-hover: 2px solid #cfa04e;
@button-border-disabled: 2px solid #4f310c;

@input-text-background: transparent;
@input-text-color: #ffd800;
@input-text-border: 2px solid #bf8827;
@input-text-border-active: 2px solid #ebc854;

